body{
    padding: 0px;
    margin: 0px;
   
    
}
.container-fluid
{
    background-color: rgb(221, 231, 231);
}
.navbar-custom {
background-color: #2084c2; /* Set the background color */
padding-top: 10px; /* Add padding to top of navbar */
padding-bottom: 10px; /* Add padding to bottom of navbar */
}
.navbar-custom .btn {
margin-right: 20px; /* Adjust spacing between navbar buttons */
margin-left: 20px;
}
.navbar-custom .navbar-text {
color: #ffffff; /* Set text color */
margin-right: 40px; /* Adjust spacing between labels and data */
}
.navbar-custom .ml-auto {
margin-left: auto; /* Push logout button to the right */
}
.navbar-custom .navbar-brand img {
margin-left: 10px;
max-height: 40px;
/* Set max height for the logo */
/* Adjust spacing between logo and text */
}

/* table css */

/* Add padding between table cells */
.table th,
.table td {
padding: 5px; /* Increased padding for better spacing */

font-size: 15px; /* Adjustable font size */
}
.table-bordered th,
.table-bordered td {
border: 1px solid #a8d2ec; /* Border style for table cells */
background-color: #f8f9fa; /* Light gray background color */
}
.thead-blue th {
background-color: #2084c2; /* Blue background color */
color: #ffffff; /* White text color */
}
.table-responsive 
{


font-size: 25px ;
font-weight: bold;

}

/*footer css  */
            footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 20 px;
            background-color: white; /* Dark background color */
            color: black; /* Text color */
            padding: 10px 0; /* Padding top and bottom */
            text-align: center; /* Center align text */
            
        }
 
